%settingInput {
    height: 46px;
    border: 1px solid #CFD0D1;
    border-radius: 2px;
    padding-left: 15px;
}
%settingSelect {
    height: 50px;
    border: 1px solid #CFD0D1;
    border-radius: 2px;
    padding-left: 15px;
}